.trade-instrument {
  height: 50px;
  display: flex;
  .trade-instrument-detail {
    margin-left: 8px;
    padding: 4px 0px;
    display: flex;
    flex-direction: column;
    .trade-instrument-name {
      font-weight: bold;
    }
    .trade-instrument-price {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;

      .trade-instrument-current-price {
        margin-right: 8px;
      }
    }
  }
  .first-quote {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }
  .end-quote {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
  }
  .end-quote-sup {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }
}
