.trade-box-sell-btn {
  display: flex;
  flex-direction: column;
  height: 53px !important;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  align-items: center;
  justify-content: center;

  span.trade-box-btn-title {
    font-weight: bold;
    margin-left: 8px;
    text-transform: uppercase;

    &.title-mobile {
      margin-right: 10px;
      font-size: 17px;
    }
  }
}
