
$white: #ffffff;
$primary: #F9835D;
$success: #3CC88D;
$light: #E3E2F1;

:root {
    --main-backgound: #F5F9FF;
    --header-background: #e5ecf6;
    --body-content-background: #F2F2F2;
    --white: #ffffff;
    --border: #EDEDF6;
    --dark-border: #e4e4e4;
    --darker-border: #bdbcbc;
    --main: #ee642b;
    --odd-backgroud: #F5F9FF;
    --even-backgroud: #ffffff;
    --label-form: #8383A9;
    --danger: #FA6325;
    --success: #3CC88D;
    --warning: #fbf4b9;
    --in-process: #fbf8db;
    --danger-background: #fa632570;
    --toastify-color-progress-light: red;
    --black: #000000;
    --seg-chart-backgound: #6CD451;
    --background-chart: #ededf1;
    --background-chart-content: #f5f5f7;
    --select-chart-text: #0FBC00;
    --background-button-third: #4E4D70;
    --highlight-row: orange;
    --background-download: #333333a3;
    --dark: #9e9e9e;
    --sync: #5094f8;
}